body {
  margin-top: 97px;
}

.navbar .brand {
  color: #d96d1d;
  font-weight: bold;
  font-size: 24px;
}

.hack {
  color: #d96d1d;
}

.hack p {
  color: black;
}

.message {
  display: block;
  border-bottom: 1px dotted gray;
  padding: 5px;
}